#modalIndexStart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000; /* S'assure d'être au-dessus de tes autres éléments */

  /* Flexbox pour centrer la boîte facilement */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* La classe clé pour cacher la modale par défaut */
.hidden {
  display: none !important;
}
