<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/allNumberPassation.css" />
  </head>
  <body>
    <a href="../templates/allQuestionnaire.html">
      <img src="../assets/img/arrowBack.png" alt="" id="arrowBack" />
    </a>
    <div style="display: flex; flex-direction: column; gap: 40px">
      <h1>Selectionner un numéro de passation</h1>
      <section class="allNumberPassation"></section>
    </div>
    <script
      type="module"
      src="../assets/script/FrontEnd/allNumberPassation.js"
    ></script>
  </body>
</html>
