<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tout les protocoles</title>
    <link rel="stylesheet" href="../assets/css/listQuestionnaire.css" />
  </head>
  <body>
    <main>
      <h1 class="homeTitle">Liste des Protocoles</h1>

      <section class="allQuestionnaire"></section>
    </main>
    <script
      type="module"
      src="../assets/script/FrontEnd/listQuestionnaire.js"
    ></script>
  </body>
</html>
