<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PsychoSoftWare | Audio</title>
    <link rel="stylesheet" href="../assets/css/audio.css" />
  </head>
  <body>
    <main>
      <a href="../templates/questionnaire.html"
        ><img src="../assets/img/arrowBack.png" alt="" id="arrowBack"
      /></a>
      <h1>Audio</h1>
      <section>
        <audio id="audio" autoplay src=""></audio>
      </section>
    </main>
    <script src="../assets/script/FrontEnd/questions/audio.Js"></script>
  </body>
</html>
