<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PsychoSoftWare</title>
    <link rel="stylesheet" href="../assets/css/pagesIntermediaires.css" />
  </head>
  <body>
    <main>
      <p>Je vais te lire des phrases .</p>
      <p>
        Tu vas me dire si ce sont des informations que tu as VU dans la vidéo ou
        ENTENDU dans l'histoire.
      </p>
      <a href="../templates/defaultQuestion.html?type=questionsMdls"
        >Continuer</a
      >
    </main>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/questionnaires.js"
    ></script>
  </body>
</html>
