<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question Vidéo</title>
  </head>
  <body>
    <main>
      <p>
        Je vais te lire des phrases à propos de la vidéo que nous avons regardé
        ensemble.
      </p>
      <p>Tu pourras y répondre par Vrai ou par Faux.</p>
      <a
        href="../templates/defaultQuestion.html?type=questionsVideo"
        onclick="sessionStorage.setItem('currentYield', 'Yield1')"
        >Continuer</a
      >
    </main>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/questionnaires.js"
    ></script>
  </body>
</html>
