<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="form-test">
      <button id="btnBack">Back</button>
      <h1>Création du questionnaire</h1>

      <input
        type="text"
        id="title-test"
        name="title-test"
        placeholder="Nom du test"
      />

      <input
        type="text"
        id="video-url"
        name="video-url"
        placeholder="Lien de la vidéo"
      />
      <input
        type="text"
        id="audio-url"
        name="audio-url"
        placeholder="Lien de l'audio"
      />

      <div id="questions-video">
        <h2>Questions sur la vidéo</h2>
        <div id="container-questions-video"></div>
      </div>

      <div id="questions-audio">
        <h2>Questions sur l'audio</h2>
        <div id="container-questions-audio"></div>
      </div>

      <div id="question-mdls">
        <h2>Questions sur la mémoire de la source</h2>
        <div id="container-questions-mdls"></div>
      </div>
      <button type="submit" id="saveJson">Créer le fichier JSON</button>
    </form>
    <div
      id="custom-alert"
      style="
        display: none;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background: #ff4444;
        color: white;
        padding: 15px;
        border-radius: 5px;
        z-index: 9999;
        white-space: pre-line;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      "
    >
      <span id="alert-text"></span>
      <button
        onclick="this.parentElement.style.display = 'none'"
        style="margin-left: 15px"
      >
        OK
      </button>
    </div>

    <script src="../assets/script/creationQuestionnaire.js"></script>
    <script src="../assets/script/renderer.js"></script>
    <script src="../assets/script/main.js"></script>
  </body>
</html>
