<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PsychoSoftWare | Création d'un protocole</title>
    <link rel="stylesheet" href="../assets/css/creationQuestionnaire.css" />
  </head>
  <body>
    <a href="../index.html">
      <img src="../assets/img/arrowBack.png" alt="" id="arrowBack" />
    </a>
    <h1>Création d'un protocole</h1>
    <div id="form">
      <form id="form-test">
        <div class="titleProtocole">
          <h3>Nom du protocole</h3>
          <input type="text" id="title-test" name="title-test" required />
        </div>

        <div id="importFile">
          <div class="inputImport">
            <h3>Importer une vidéo</h3>
            <label for="video-url" class="custom-file-upload">+</label>
            <input
              type="file"
              id="video-url"
              name="video-url"
              accept="video/*"
            />
          </div>
          <div class="inputImport">
            <h3>Importer un audio</h3>
            <label for="audio-url" class="custom-file-upload">+</label>
            <input
              type="file"
              id="audio-url"
              name="audio-url"
              accept="audio/*"
            />
          </div>
        </div>

        <div class="blocQuestion" id="questions-video">
          <h2>Questions sur la vidéo</h2>
          <div id="container-questions-video"></div>
        </div>

        <div class="blocQuestion" id="questions-audio">
          <h2>Questions sur l'audio</h2>
          <div id="container-questions-audio"></div>
        </div>

        <div class="blocQuestion" id="question-mdls">
          <h2>Questions sur la mémoire de la source</h2>
          <div id="container-questions-mdls"></div>
        </div>
        <div id="form-bottom">
          <h2>Scores exterieurs</h2>
          <div id="container-score-exterieur"></div>
        </div>
        <button type="submit" id="saveJson">Enregistrer</button>
      </form>
    </div>

    <script
      type="module"
      src="../assets/script/FrontEnd/creationQuestionnaire.js"
    ></script>
    <script type="module" src="../assets/script/FrontEnd/renderer.js"></script>
    <script
      type="module"
      src="../assets/script/FrontEnd/createFileSurvey.js"
    ></script>
  </body>
</html>
