<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/modalQuestion.css" />
    <link rel="stylesheet" href="../assets/css/modalIndex.css" />
  </head>
  <body>
    <main>
      <button id="btnBack">Back</button>
      <h1>Question vidéo</h1>
      <section id="sectionQuestion"></section>
      <div id="modalStart" class="modal">
        <h2 id="questionModal"></h2>
        <button id="startQuestion">lancer la question</button>
      </div>
      <div id="modalIndexStart" class="hidden">
        <h2>A quel point tu es confiant sur ta réponse?</h2>
        <button class="button High">High</button>
        <button class="button Middle">Middle</button>
        <button class="button Low">Low</button>
      </div>
    </main>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/defaultQuestion.js"
    ></script>
    <script
      type="module"
      src="../assets/script/FrontEnd/pushYield2.js"
    ></script>
  </body>
</html>
