<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PsychoSoftWare | Questionnaire</title>
    <link rel="stylesheet" href="../assets/css/modalQuestion.css" />
    <link rel="stylesheet" href="../assets/css/modalIndex.css" />
    <link rel="stylesheet" href="../assets/css/defaultQuestion.css" />
  </head>
  <body>
    <main>
      <h1>Question vidéo</h1>
      <section id="sectionQuestion"></section>
      <div id="modalStart" class="modal">
        <h2 id="questionModal"></h2>
        <button id="startQuestion">Lancer la question</button>
      </div>
      <div id="modalIndexStart" class="hidden">
        <h2>A quel point en es-tu sûr.e ?</h2>
        <div class="flex-modal">
          <a class="button High"
            ><img src="../assets/img/indice-vert.png" alt=""
          /></a>
          <a class="button Middle"
            ><img src="../assets/img/indice-jaune.png" alt=""
          /></a>
          <a class="button Low"
            ><img src="../assets/img/indice-rouge.png" alt=""
          /></a>
        </div>
      </div>
    </main>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/defaultQuestion.js"
    ></script>
  </body>
</html>
