<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fiche de renseignements</title>
  </head>
  <body>
    <section id="section-renseignement">
      <button id="btnBack">Back</button>
      <h1>Veuillez renseigner les informations du patient</h1>
      <div class="section-input" style="display: flex; flex-direction: column">
        <form action="#" id="form-renseignements">
          <label for="number-passation">
            Renseignez le numéro de passation
            <input
              type="number"
              id="number-passation"
              placeholder="Numéro"
              required
            />
          </label>
          <label for="age">
            Renseigner l'âge du patient
            <input type="date" id="age" placeholder="Âge" required />
          </label>
          <label for="sexe-select">
            Renseignez le sexe du patient
            <select name="sexe" id="sexe-select" required>
              <option value="">--Veuillez choisir une option--</option>
              <option value="men">Homme</option>
              <option value="girl">Femme</option>
            </select>
          </label>
          <label for="date">
            Date du jour de passation
            <input
              type="date"
              id="todayDate"
              placeholder="Date d'aujourd'hui"
            />
          </label>
          <button id="btnSubmit" type="submit">Enregistrer</button>
        </form>
      </div>
    </section>
    <script src="../assets/script/FrontEnd/pageCreateRenseignements.js"></script>
  </body>
</html>
