<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="titleQuestionnaire"></h1>
    <a id="video" href="../templates/video.html">Vidéo</a>
    <a id="audio" href="../templates/audio.html">Audio</a>

    <div class="flex-yeld">
      <div>
        <a
          class="linkQuestion"
          href="../templates/defaultQuestion.html?type=questionsVideo"
          onclick="sessionStorage.setItem('currentYield', 'Yield1')"
          >Questions vidéo</a
        >
        <a
          class="linkQuestion"
          href="../templates/defaultQuestion.html?type=questionsAudio"
          onclick="sessionStorage.setItem('currentYield', 'Yield1')"
          >Questions audio</a
        >
      </div>

      <!-- <div>        
        <a
          class="linkQuestion"
          href="../templates/defaultQuestion.html?type=questionsVideo"
          onclick="sessionStorage.setItem('currentYield', 'Yield2')"
          >Questions vidéo</a
        >
        <a
          class="linkQuestion"
          href="../templates/defaultQuestion.html?type=questionsAudio"
          onclick="sessionStorage.setItem('currentYield', 'Yield2')"
          >Questions audio</a
        >
      </div> -->
    </div>
    <a
      class="linkQuestion"
      href="../templates/defaultQuestion.html?type=questionsMdls"
      >Questions Source</a
    >
    <div>
      <button id="saveJsonYield">Enregistrer</button>
      <button id="jsonToExcel"></button>
    </div>
    <script src="../assets/script/FrontEnd/questions/questionnaires.js"></script>
    <script src="../assets/script/FrontEnd/calculScore.js"></script>
    <script src="../assets/script/FrontEnd/jsonToExcel.js"></script>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/defaultQuestion.js"
    ></script>
  </body>
</html>
