<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toutes les questions</title>
    <link rel="stylesheet" href="../assets/css/questionnaire.css" />
  </head>
  <body>
    <section id="section-questionnaire">
      <h1 id="titleQuestionnaire"></h1>
      <a id="video" href="../templates/avantVideo.html">Vidéo</a>
      <a id="audio" href="../templates/avantAudio.html">Audio</a>

      <a class="linkQuestion" href="avantQuestionSource.html" data-type="mdls"
        >Questions Source</a
      >
      <a class="linkQuestion" href="avantQuestionVideo.html" data-type="video"
        >Questions vidéo</a
      >
      <a class="linkQuestion" href="avantQuestionAudio.html" data-type="audio"
        >Questions audio</a
      >

      <div>
        <button id="jsonToExcel"></button>
      </div>
      <div>
        <a id="returnHome" href="../index.html">Revenir à l'accueil</a>
      </div>
    </section>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/questionnaires.js"
    ></script>
    <script
      type="module"
      src="../assets/script/FrontEnd/jsonToExcel.js"
    ></script>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/defaultQuestion.js"
    ></script>
  </body>
</html>
