<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <button id="btnBack">Back</button>
      <h1>Question vidéo</h1>
      <section id="videoQuestion"></section>
    </main>
    <script src="../assets/script/FrontEnd/questions/videoQuestions.js"></script>
    <script src="../assets/script/FrontEnd/pushYield2.js"></script>
  </body>
</html>
