<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Nom du questionnaire : ...</h1>
    <a id="video" href="../templates/video.html">Vidéo</a>
    <a id="audio" href="../templates/audio.html">Audio</a>
    <a id="videoQuestions" href="../templates/questionVideo.html"
      >Questions vidéo</a
    >
    <a id="audioQuestions" href="../templates/questionAudio.html"
      >Questions audio</a
    >
    <a id="sourceQuestions" href="../templates/questionSource.html"
      >Questions sources</a
    >
  </body>
</html>
