<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scoreExtérieures</title>
  </head>
  <body>
    <button id="btnBack">Back</button>
    <h2>Scores Extérieures</h2>
    <div id="externalScore">
      <label>Titre du score</label>
      <input type="text" id="titleScore" />
      <label>Valeur du score</label>
      <input type="number" id="scoreValue" />
    </div>
    <button id="recordScore">Enregistrer le score</button>
    <script src="../assets/script/FrontEnd/pushYield2.js"></script>
  </body>
</html>
