<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/scoreExterieur.css" />
    <title>Scores exterieurs</title>
  </head>
  <body>
    <button id="btnBack">Back</button>
    <h2>Scores Extérieures</h2>
    <label for="inputNumberPassation">
      Numéro de passation
      <input id="inputNumberPassation" type="number"
    /></label>
    <div id="externalScore"></div>
    <button id="recordScore">Enregistrer le score</button>
    <script
      type="module"
      src="../assets/script/FrontEnd/questions/scoreExterieur.js"
    ></script>
  </body>
</html>
